@{
    ViewData["Title"] = "Building 👷";
}

<div class="container d-flex flex-column align-items-center justify-content-center">

    <h1 class="my-3">@ViewData["Title"]</h1>

    <p>👷 Module under construction. 👷</p>
</div>